/*Title: hochdoerfer-whatabook2.css
Author: Kyle Hochdoerfer
Date: 7/10/23
Description: Styling for hochdoerfer-whatabook2.html
*/

/*Import theme.css for the heading light-dark theme variables*/
@import url("../theme.css");

/*Set the border, background color, and text color of the main heading*/
h1{
    border: none;
    background-color:var(--background-color);
    color: var(--text-color);
}

/*Center a card, it's content, and set the width to 100%*/
.card{
    width: 100%;
}

/*Adjust assign-content size to account for the amount of text in the table cells*/
.assign-content{
    width: 675px;
}