/*Title: hochdoerfer-bobs-auto-repair.css
Author: Kyle Hochdoerfer
Date: 6/19/23
Description: Styling for hochdoerfer-bobs-auto-repair.html
*/

/*Import theme.css for the heading light-dark theme variables*/
@import url("../theme.css");

/*Styling for the cart message*/
#cart-message{
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

i:hover{
    cursor: pointer;
}

/*Styling for the cart icon*/
#cartIcon, #cart-count{
    color: var(--anchor-hover-color);
    font-size: 30px;
}

/*Set the border, background color, and text color of the main heading*/
h1{
    border: none;
    background-color:var(--background-color);
    color: var(--text-color);
}

/*Center a card, it's content, and set the width to 100%*/
.card{
    margin:auto;
    text-align: center;
    width: 100%;
}

/*Set button width to 100%*/
button{
    width: 100%;
}