/*Title: hochdoerfer-restaurant.css
Author: Kyle Hochdoerfer
Date: 6/06/23
Description: Styling for restaurant.html
*/

/*Import theme.css for the heading light-dark theme variables*/
@import url("../theme.css");

/*Set the border, background color, and text color of the main heading*/
h1{
    border: none;
    background-color:var(--background-color);
    color: var(--text-color);
}

/*Center a card, it's content, and set the width to 100%*/
.card{
    margin:auto;
    text-align: center;
    width: 100%;
}

/*Align card content to the left*/
.card-content{
    text-align: left;
}

/*Set up a 2x2 grid for containing cards*/
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding-bottom: 15px;
}

/*Set the bottom padding of a card to 34px*/
.mc-card{
    padding-bottom: 34px;
}

/*Set button width to 100%*/
button{
    width: 100%;
}